<div class="select-container">
    <h3>Which state are you in?</h3>
    <%= form_for :office do |f| %>
        <%= f.collection_select  :state, Office.alpha, :state, :state %>
        <br></br>
        <%= f.submit "Submit" %>
    <% end %>
    <br>
    <% if flash[:unauthorized] %>
        <%= flash[:unauthorized] %>
    <% end %>

    <h3>Search for a patient below</h3>

    <%= form_tag("/select", method: 'get') do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
    <% end %>
</div>