<br></br>

<% if !@patients.empty? %>
    <h3>Your patients in <%= @office.city %>, <%= @office.state %>: </h3>
        <ul>
            <% @patients.all.each do |patient| %>
               <li> <%= link_to patient.name, patient_path(patient) %><br></li>
            <% end %> 
        </ul>
    <br></br>
<% else %>
    <label>You don't have any patients yet! Add one below.</label>
<% end %>

<br></br>
<%= link_to "Add New Patient", new_office_patient_path %>
<br></br>
<%= link_to "Look Up A Different Location", select_path %>