<br></br>

<% @patients.all.each do |patient| %>
    <% if current_user.patients.include?(patient) %>
        <h3>Your patients in <%= @office.city %>, <%= @office.state %>: </h3>
            <ul>
                <li> <%= link_to patient.name, patient_path(patient) %><br></li>
            </ul>
    <% else %>
        <%= flash[:no_patient] if flash[:no_patient]  %>
    <% end %>
<% end %> 

<br></br>
<%= link_to "Add New Patient", new_office_patient_path %>
<br></br>
<%= link_to "Look Up A Different Location", select_path %>