<br></br>
<h2>Patient Name: <%= @patient.name %></h2>
<h3>Patient location: <%= @patient.office.city %>, <%= @patient.office.state %></h3>
<label>Diagnosis:</label>
<%= @patient.diagnosis %>
<br></br>
<label>Assigned exercise:</label>
<%= @patient.exercise %>
<br></br>
<%= link_to "Back", patients_path %>

