<div class="exercise-index-title-container">
    <h3>Assigned exercises for <%= @patient.name %></h3>
</div>

<div class="exercise-iteration-containter">
    <% @exercises.each do |exercise| %>
        
        <label>Name: <%= exercise.name %><br>
        <label>Reps: <%= exercise.reps %><br>
        <%= link_to "Edit Current Exercises", edit_exercise_path(exercise) %>
        <br>
        <%= link_to "Delete Exercise", exercise_path(exercise), method: :delete %>
        <br></br>

    <% end %>
    <br>
    <%= link_to "Back To Patients Page", patient_path(@patient) %>
</div>
