<!DOCTYPE html>
<html>
  <head>
    <title>Physio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <% else %>
      <%= link_to "Log In", login_path %><br></br>
      <%= link_to "Sign up", signup_path %><br></br></li>
      <%= link_to "Home Page", root_path %><br></br></li>
    <% end %>
    <%= yield %>
  </body>
</html>
